/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: #2d3436;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/*Nav bar*/
#navbar {
  position: fixed; /*항상고정*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  color: #2d3436;
  padding: 16px;
  transition: 300ms ease-in-out;
}

#navbar.navbar--dark {
  background-color: #81ecec;
  padding: 8px;
}

.navbar__menu {
  display: flex;
}
.navbar__munu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}

.navbar__logo {
  font-size: x-large;
}

.navbar__munu__item:hover {
  background-color: #dfe6e9;
  border-color: white;
}

#home {
  background: url("/imgs/Lavishette.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid;
  border-color: rgba(53, 59, 72, 1);
}

.home__contact {
  font-size: inherit;
  font-weight: bold;
  padding: 8px 12px;
  border: 2px solid black;
  border-radius: 6%;
}

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}
/* about*/

.about__majors {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 70px;
}

.major__icon {
  height: 170px;
  width: 170px;
  line-height: 170px;
  font-size: 90px;
  margin: auto;
  border: 1px solid;
  border-color: url("/imgs/Lavishette.png") center/cover no-repeat;
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon :hover {
  color: #fd79a8;
  transform: rotate(-360deg) scale(1.1);
}

.major__icon i {
  transition: all 300ms ease;
}
.job {
  text-align: left;
  display: flex;
  margin-top: 70px;
}
.job__description {
  text-align: left;
}
hr {
  margin-top: 50px;
}

/* skilles */
#skills {
  background-color: blanchedalmond;
  padding-top: 30px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skillset__left {
  flex-basis: 60%;
  padding: 20px;
  background-color: darkseagreen;
}

.skill__bar {
  height: 5px;
  background-color: dimgray;
}

.skill {
  margin-bottom: 30px;
}
.skill__value {
  width: 100%;
  height: 3px;
  background-color: dodgerblue;
}

/*Work*/
.work__categrois {
  margin: 40px;
}
.category__btn {
  border: 1px solid black;
  border-radius: initial;
  font-size: medium;
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: pink;
  color: white;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: 300ms;
}

#contact {
  background-color: pink;
}

.contact__title,
.contact__email,
.contact__rights {
  color: white;
}

.contact__title {
  margin: 32px 0;
}

.contact__links img:hover {
  transform: scale(2);
}
.navbar__toggle-btn {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 30px;
  color: white;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
    color: rgba(53, 59, 72, 1);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #81ecec;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }
  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}

/*arrowup*/
.Arrow__up {
  position: fixed;
  bottom: 50px;
  font-size: 30px;
  right: 50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}
.Arrow__up.visible {
  opacity: 1;
  pointer-events: auto;
}
